.container {
  display: flex;
}
.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.grid div {
  height: 18px;
  width: 18px;
  margin: 1px;
  border-radius: 3px;
}

.tetromino {
  background-color: blue;
  height: 18px;
  width: 18px;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
  margin-left: 50px;
}

.mini-grid div {
  height: 18px;
  width: 18px;
  margin: 1px;
  border-radius: 3px;
}
